:root {
    --brown: #7f4f24;
    --lightbrown: #faedcd;
    --milk: #fefae0;
    --lightgreen: #e9edc9;
    --darkbrown: #3f3232;
  }

body {
    background-color: none;
}



header {
    background:
    linear-gradient(
    rgb(63, 50, 50, 0.5), 
    rgb(63, 50, 50, 0.5)
    ), 
    url("./assets/header-background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 200px;
    
}

.hide {
  display: none;
}

.custom-jumbotron {
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    color: var(--milk);
    text-shadow: 2px 2px 4px #000000;
    font-weight: bold;
    text-align: center;
    border-radius: 10;
}

#searchInput {
  width: 100%;
}

#searchHistory {
  display: flex;
  flex-direction: column;
}

#searchBtn {
  width: 100%;
  margin-top: 15px;
  background-color: var(--darkbrown);
  color:var(--milk);
  border-radius: 6px;
  height: 5vh;
}

#searchBtn:hover {
  background-color: #a68a64;
  color: var(--milk);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.history-btn {
  margin: 10px 0;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 6px;
  height: 5vh;
}

.history-btn:hover {
  background-color: var(--brown);
  color: var(--milk);
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

#current {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--darkbrown);
}

#currentTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#currentUV {
  border: 1px none;
  border-radius: 6px;
}

#forcastDiv {
    display: flex;
    justify-content: space-between;
}

.container img {
  box-shadow: 5px 10px 20px #888888 inset;
  border-radius: 50%;
}

#forecast h4 {
padding: 25px 5px 15px 5px;
color: var(--darkbrown);
}
#forecast h5 {
    padding: 10px 0 0 0;
} 

.singleCard {
    border: 1px solid --beige;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    color: var(--darkbrown);
}

footer {
    display: flex;
    justify-content: center;
}

.btn {
  margin: 15px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.green {
    background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.purple {
  background-color: purple;
}